<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <link rel="stylesheet" href="/bower_components/leaflet/dist/leaflet.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/bower_components/leaflet/dist/leaflet.css">



    <link rel="stylesheet" href="/stylesheets/trace.css">

</head>
    
    <body>
        <h1>Routs and Corners</h1>
        <div class="container">
            <div class="row">
    
                <div id="col2" class="col col-xs-2">
                    <ul id="option"  >
                        <li><button id="edit" class="btn btn-warning edit">UnEditabble</button></li>
                        <li id="ad"><button id="ad_R">R</button><button id="ad_D">D</button></li>
                        
                    </ul>
                    
                </div>

                <div id="col1" class="col col-xs-10">
                    <div id="mapid"></div>
                </div>

            </div>
        </div>
        
        
    </body>


    <!-- <script>

        // Devices
        devices = {
            "A":"192.168.2.1",
            "C":"192.163.2.1"
        }
        
        // Routers
        let routers = [
            {
                "ip":"192.168.0.0",
                "routes": [
                    "192.168.1.0/192.167.1.0",
                    "192.168.2.0/192.168.2.1",
                    "192.168.3.0/192.166.1.0",
                    "192.168.4.0/192.165.1.0"
                ]
            },
            {
                "ip":"192.164.0.0",
                "routes": [
                    "192.164.1.0/192.167.2.0",
                    "192.164.2.0/192.163.3.0",
                    "192.164.3.0/192.166.2.0"
                ]
            },
            {
                "ip":"192.163.0.0",
                "routes": [
                    "192.163.1.0/192.165.2.0", 
                    "192.163.2.0/192.163.2.1", 
                    "192.163.3.0/192.164.2.0"
                ]
            },
            {
                "ip":"192.167.0.0",
                "routes": [
                    "192.167.1.0/192.168.1.0", 
                    "192.167.2.0/192.164.1.0"
                ]
            },
            {
                "ip":"192.165.0.0",
                "routes": [
                    "192.165.1.0/192.168.4.0", 
                    "192.165.2.0/192.163.1.0"
                ]
            },
            {
                "ip":"192.166.0.0",
                "routes": [
                    "192.166.1.0/192.168.3.0", 
                    "192.166.2.0/192.164.3.0"
                ]
            }
        ]
        
        // path tabble
        let arcs = [];
        let nb_R = routers.length;
        /* routers.forEach(function(r){
            index = routers.indexOf(r)
            console.log("R", index, ": ", r);
            
            arcs.push([])
            
        }); */

        
    </script>-->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/leaflet/dist/leaflet.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/leaflet/dist/leaflet.js"></script>


    <script src="/javascripts/Map.js"></script>
    <script src="/javascripts/ui.js"></script>

</html>