<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <link rel="stylesheet" href="/bower_components/leaflet/dist/leaflet.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/bower_components/leaflet/dist/leaflet.css">



    <link rel="stylesheet" href="/stylesheets/trace.css">

</head>
    
    <body>
       
        <div class="container">
            <div class="row">
    
                <div id="col2" class="col col-xs-2">
                    <ul id="option"  >
                        <li><button id="edit" class="btn btn-warning edit">UnEditabble</button></li>
                    </ul>

                    <form id="search_bar" class="search-form">
                        <div class="form-group has-feedback">
                            <label for="search" class="sr-only"></label>
                            <input type="text" class="form-control" id="search_val" placeholder="search" autocomplete="off">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </form>
                </div>

                <div id="col1" class="col col-xs-10">
                    <div id="mapid"></div>
                </div>

            </div>
        </div>
        
        
    </body>


   
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/leaflet/dist/leaflet.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/leaflet/dist/leaflet.js"></script>


    <script src="/javascripts/Map.js"></script>
    <script src="/javascripts/ui.js"></script>

</html>